/* https://thememakker.com/templates/lucid/html/h-menu/page-profile.html */

body {
    background-color: #f4f7f6;
    font-family: "Archivo",sans-serif;
    font-size: 14px;
    color: #5A5A5A;
}

/* Top Search Bar */

.fixed-top .navbar-right #navbar-search .form-control {
    height: 40px;
}

.fixed-top .navbar-right #navbar-search {
    margin-right: 20px;
    float: left;
    margin-top: 6px;
}

.search-form {
    position: absolute;
    top: 50%;
    transform: translateY(-66%);
}

.fixed-top .navbar-right #navbar-search .form-control {
    padding-left: 20px;
}

.form-control {
    box-shadow: none;
    background-color: #fff;
    font-size: 14px;
}

.btn.btn-default {
    color: #777;
    background-color: #fff;
    border-color: #eee;
    padding: 6px 15px;
}

.search-form .btn {
    box-shadow: none;
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    color: #999;
    background-color: transparent;
}

.btn {
    font-size: 14px;
}

.navbar-fixed-top .navbar-right #navbar-search i {
    font-size: 12px;
}

.btn.btn-default {
    color: #777;
    background-color: #fff;
    border-color: #eee;
    padding: 6px 15px;
}

/* General Padding */

.search-form, .search-form .btn, .block-header .breadcrumb, .card .header .header-dropdown {
    padding: 0 !important;
}


.inlineblock, .fixed-top .navbar-right .navbar-nav, .fixed-top .navbar-right .navbar-nav>li, .user-account .dropdown, .card .header .header-dropdown, .card .header .header-dropdown li {
  margin: 0 !important;
  display: inline-block;
}

.user-account .user-name, .user-account .dropdown .dropdown-menu li:first-child strong, .user-account .dropdown .dropdown-menu a, .main_menu .navbar .navbar-nav .dropdown-menu li a, .card .header .header-dropdown li a, .timeline-item:before {
  display: block;
}

.card .header .header-dropdown li a {
    padding: 5px 10px;
    color: #666;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

/* Nav Bar Menu */

.fixed-top .navbar-right {
    width: calc(100% - 110px);
}

#navbar-menu {
    float: right;
}

.navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .icon-menu {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    width: 45px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 100%;
    text-align: center;
    margin-right: 20px;
}

.fixed-top {
    position: fixed;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
    border-bottom: 1px solid #eee;
}

.navbar-nav .icon-menu i {
    color: #666;
    font-size: 1.2rem;
    vertical-align: middle;
    line-height: 1.2;
}

.navbar-nav .icon-menu .notification-dot {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #860a0a;
}

.user-account, .user-account .dropdown {
    text-align: left;
}

.user-account .user-name {
    color: inherit;
    text-decoration: none;
}

.user-account .user-photo {
    width: 45px;
    vertical-align: middle;
    border: 2px solid #dfdfdf;
}

.user-account .dropdown .dropdown-menu {
    transform: none !important;
    border: none;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    padding: 15px;
    background: #ffffff;
    min-width: 180px;
    top: calc(70px - 6px);
}

.navbar-nav .dropdown-menu {
    background: #fff;
    top: 80%;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px solid #fff;
    padding: 20px;
}

.br8, .navbar-nav .dropdown-menu {
    border-radius: 8px;
}

.user-account .dropdown .dropdown-menu li:first-child span {
    display: block;
    color: #666;
    font-size: 14px;
    line-height: 20px;
}

.user-account .dropdown .dropdown-menu li:first-child strong {
    color: #424242;
    font-size: 14px;
    line-height: 20px;
}

.user-account .dropdown .dropdown-menu li.divider {
    border-bottom: 1px solid #444;
    margin: 10px 0;
}

.user-account .dropdown .dropdown-menu a {
    padding: 10px;
    font-size: 14px;
    color: #666;
}

.user-account .dropdown .dropdown-menu a i {
    margin-right: 10px;
    font-size: 14px;
}

.main_menu {
    background: #fff;
    position: relative;
    top: 75px;
}

.navbar-nav {
  margin-right: 15px;
}

.main_menu .navbar .navbar-nav {
    /* width: 100%; */
    position: relative;
}

.main_menu .navbar .navbar-nav .nav-item:not(:last-child) {
    padding-right: 15px;
}

.main_menu .navbar .navbar-nav .nav-item .nav-link {
    color: #5A5A5A;
    font-size: 17px;
}

.main_menu .navbar .navbar-nav .nav-item .nav-link i {
    padding-right: 5px;
    font-size: 14px;
}

.main_menu .navbar .navbar-nav .dropdown-menu {
    border-radius: .55rem;
    top: 47px !important;
    right: auto;
    left: 0;
    margin: 0;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
    min-width: 200px;
    overflow: hidden;
    border-top: 2px solid;
}

.navbar-nav .dropdown-menu {
    background: #fff;
    top: 80%;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px solid #fff;
    padding: 20px;
}

.main_menu .navbar .navbar-nav .dropdown-menu li {
    padding: 3px 0;
}

.main_menu .navbar .navbar-nav .dropdown-menu li a {
    color: #777;
    font-size: 14px;
    position: relative;
    line-height: 25px;
    padding-left: 15px;
}

.main_menu .navbar .navbar-nav .dropdown-menu li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f531";
    position: absolute;
    left: 0;
    font-weight: 600;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.fixed-top .navbar-brand {
    padding: 15px 0;
    position: relative;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.fixed-top .navbar-brand img {
    width: 125px;
    vertical-align: top;
    margin-top: 2px;
}

#main-content {
    transition: all 0.3s ease-in-out;
    position: relative;
    margin-top: 105px;
    padding: 0 10px;
}

.block-header {
  margin-bottom: 20px;
  margin-top: 20px;
}

.block-header h2 {
    font-size: 22px;
}

.block-header .breadcrumb {
    background: transparent;
}

.breadcrumb li a {
  color: #0766c6;
}

.icon-menu::after {
    display:none;
}

.navbar-nav ul.notifications {
    background: #ffffff;
    width: 500px;
}

.navbar-nav .dropdown-menu {
    -moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
    background: #fff;
    top: 80%;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 8px;
}

.navbar-nav ul.notifications li.header {
    padding-bottom: 20px;
    color: #424242;
}

.navbar-nav ul.notifications {
    top: calc(70px - 6px);
}

.navbar-nav ul.notifications li {
    border-bottom: 1px solid #d8d8d8;
    margin-top: 7px;
}

.navbar-nav ul.notifications li>a {
    padding: 15px 0;
    color: #777;
}

.navbar-nav ul.notifications li>a .media, .navbar-nav ul.notifications li .text, .feeds_widget {
    margin-bottom: 0px;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.media .media-body {
    color: #666;
    font-size: 14px;
}

.navbar-nav ul.notifications li>a .media .media-left, .media.mleft .media-left {
    margin-right: 20px;
}

.navbar-nav ul.notifications li i {
    font-size: 24px;
}

.navbar-nav ul.notifications li .text {
    white-space: nowrap;
    width: 88%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbar-nav ul.notifications li a {
  text-decoration: none;
}

.navbar-nav ul.notifications li .timestamp {
    font-size: 13px;
    color: #666;
}

.navbar-nav ul.notifications li:last-child {
    border-bottom: none;
}

.main_menu .navbar .navbar-nav .nav-item.active>a {
    color: #0766c6;
}

.main_menu .navbar .navbar-nav .nav-item i {
    color: #0766c6;
}

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.overflowhidden, .member-card {
    overflow: hidden;
}

.card .body {
    color: #444;
    padding: 20px;
    font-weight: 400;
}

.card .header {
    color: #444;
    padding: 20px;
    position: relative;
    box-shadow: none;
}

.card .header h2, .card .header-search h2 {
    font-size: 16px;
    color: #444;
    position: relative;
    font-weight: bold;
}

.number-chart .number {
    font-weight: 600;
}

.box-icon {
  font-size: 40px;
  text-align: center;
}

.search-results-box h6 {
  color: blue;
  font-weight: bold;
}

.shortlist-results-box h6 {
  color: green;
  font-weight: bold;
}

.new-results-box h6 {
  color: red;
  font-weight: bold;
}

.feeds_widget li {
    padding: 12px 15px;
    border: 1px solid #f0f0f0;
    margin: 4px 0;
}

.feeds_widget li .feeds-left {
    float: left;
    width: 33px;
    font-size: 18px;
}

.feeds_widget li .feeds-body {
    width: auto;
}

.feeds_widget li .feeds-body .title {
    font-size: 16px;
}

.feeds_widget li .feeds-body>small {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    font-size: 13px;
    color: #777;
}

.container {
    max-width: 1500px;
}

.profileviewpage .profile-header {
  text-align: center;
}

.profileviewpage .profile-header .profile-image {
    margin-bottom: 20px;
}

.profile-name, .profile-complete {
  margin-bottom: 0px;
}

.profile-btns, .question li.menu-heading {
    margin-top: 15px;
}

.card .header .header-dropdown {
    position: absolute;
    top: 14px;
    right: 10px;
    list-style: none;
}

.card .header .header-dropdown li .dropdown-menu {
    background: #ffffff;
    border-radius: .55rem;
    overflow: hidden;
    transform: none !important;
    left: auto !important;
    right: 0;
    padding: 10px;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    border: 0;
}

.card .header .header-dropdown li .dropdown-menu li {
    display: block !important;
}
.card .header .header-dropdown li .dropdown-menu li a{
  color: #666;
}

.text-muted {
    color: #6c757d!important;
}

.social {
    margin-right: 5px;
}

.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    border-left: 1px solid #eee;
}

.timeline-item:before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    top: 1em;
    color: #777;
}

.timeline-item:after {
    width: 15px;
    height: 15px;
    top: 1em;
    position: absolute;
    left: -8px;
    border-radius: 10px;
    content: '';
    background: #fff;
    border: 3px solid;
}

.timeline-item.blue:after {
    border-color: #1d8ecd;
}

.timeline-item.orange:after {
    border-color: #f5a81d;
}

.timeline-item.green:after {
    border-color: #86c541;
}

.timeline-item.purple:after {
    border-color: #bc42f4;
}

.timeline-item.grey:after {
    border-color: #7f7f7f;
}

.timeline-item .msg {
    margin: 15px 0;
}

.table tbody tr td, .table tbody th td {
    vertical-align: middle;
    white-space: nowrap;
    text-align: left;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.badge {
    padding: 4px 8px;
    text-transform: uppercase;
    line-height: 12px;
    border: 1px solid;
    font-weight: 400;
    margin-right: 5px;
    margin-left: 5px;
}

.badge-done {
    background: #3C89DA;
    border-color: #ffffff;
    color: #ffffff;
}

.badge-incomplete {
    background: transparent;
    border-color: #3C89DA;
    color: #3C89DA;
}

.profile-done {
  background-color: #0766c6;
  color: #ffffff;
}

.steps {
  margin-bottom: 20px;
}


.badge-primary {
    background: transparent;
    border-color: #3C89DA;
    color: #3C89DA;
}

.hide {
  display: none !important;
}

.skills-list {
  cursor: pointer;
}

.edit {
  cursor: pointer;
}

#header-form {
  margin-top: 5px;
}

.search-location, .search-category {
    font-style: italic;
    font-size: 10px !important;
}

.datetime {
    font-size: 12px;
    color: #49AD28;
    float: right;
    vertical-align: top;
    padding: 20px 20px 10px 20px;
}

.card .body-search {
    color: #444;
    padding: 10px 20px 20px 20px;
    font-weight: 400;
}

.card .header-search {
    color: #444;
    padding: 20px 20px 10px 20px;
    position: relative;
    box-shadow: none;
}

.logo-search {
  vertical-align: bottom;
  float: right;
}

.search-table tr td {
  padding-right: 10px;
}

.no-underline:hover {
  text-decoration: none;
}

.vertical-align-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}

.vertical-align-middle {
    display: table-cell;
    vertical-align: middle;
}

.auth-box {
    width: 380px;
    height: auto;
    margin-left: 130px;
}

.auth-box .top {
  max-resolution: 30px;
}

.auth-main .card {
    padding: 10px;
}

.auth-box .lead {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.auth-box .top img {
    width: 130px;
    padding-bottom: 10px;
}

.auth-main::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 100%;
    z-index: -1;
    background: #5A5A5A;
}

.auth-main:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: #d1d1d1;
    /* background: url(../../../assets/images/auth_bg.jpg) no-repeat top left fixed; */
}

.auth-box .form-auth-small .bottom {
  text-align: center;
  margin-top: 20px;
}

.wizard {
    width: 100%;
    overflow: hidden;
}

.wizard.vertical>.steps {
    float: left;
    width: 30%;
    padding-right: 5px;
    margin-bottom: 2px;
    position: relative;
    display: block;
}
